@()

@main("newPost") {
<div>
    <form method="get" action="createPost">
        <div class="container">
            <h1>add a thought</h1>
            <label for="text"><b>Text</b></label>
            <input type="text" placeholder="Enter text" name="text" required>

            <label for="hashtag"><b>hashtag</b></label>
            <input type="text" placeholder="Enter hashtag" name="hashtag" required>

            <label for="img">Choose a picture for upload:</label>
            <input type="file" id="avatar" name="img" accept="image/png, image/jpeg">

            <button type="submit">Post</button>
        </div>
    </form>
</div>
}